.servicos {
    background-color: #171921;
    display: flex;
    flex-direction: column;




    *{
        box-sizing: border-box;
        margin: 0;
        //border: 1px green solid;
    }


    .barra {
        background-color: #293040;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 2rem;
        height: 7rem;

        .logo{
            width: 10rem;
            height: 4rem;
        }


        h1 {
            font-family: 'adam';
            color: #41B6E6;
            font-size: 1.7rem;
            font-weight: 500;
        }

        .volta {
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 1.2rem;
            font-family: 'adam';
        }

    }


    .ordem{

        height: 87.8vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        

        .informacoes {
            background: linear-gradient(180deg, #3a6c8300 0%, #3A6C83 35.94%, #3A6C83 42.19%);
            border-radius: 1rem;
            width: 100%;
            max-width: 54rem;
            display: flex;


            h1{
                font-family: 'adam';
                color: #fff;
                font-size: 1rem;
            }

            p{
                color: #A5A5A5;
                font-size: 1rem;
                font-family: 'adam';
            }



        }

        .resumo {
            max-width: 20rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                border-radius: 2rem;
                background-color: #41B6E6;
            }

            hr{
                width: 100%;
            }

            h5{
                color: #fff;
                text-align: center;
                font-size: 0.93rem;
            }

            p{
                color: #A5A5A5;

            }

        }

    }
}