@font-face {
    font-family: 'abster';
    src: url('../../../public/assets/fonts/abster-500.otf');
}

@font-face {
    font-family: 'adam';
    src: url('../../../public/assets/fonts/ADAM.CG\ PRO.otf');
}

*::-webkit-scrollbar {
    width: 0.5rem;
}

*::-webkit-scrollbar-track {
    background-color: #11111f;
}

*::-webkit-scrollbar-thumb {
    background-color: #3EACDA;
}

.landing-page {
    width: 100vw;
    height: 100%;
    background-color: #171921;
    

    .rec.rec-arrow {
        border-radius: 1rem;
        background-color: #1bbef07e;
    }

    .rec.rec-arrow:hover {
        background-color: #1bbef0;

       
    }

    .cELvbP:hover:enabled, .cELvbP:focus:enabled {
        background-color: #1bbef0;
        color: #333;
    }

    .rec.rec-arrow:disabled {
        visibility: hidden;
    }

    .rec-dot{
        background-color: #1bbef000 !important;
        box-shadow: 0 0 1px 3px #ffffff00 !important;
    }

    
    

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        // border: 1px green solid;
    }

    .faixa-1 {
        background-image: url('../../../public/assets/images/Capturar2\ 1_auto_x2\ 1.png');
        width: 100vw;
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: flex-start;



        .introdução {

            h1 {
                color: #fff;
                font-family: 'abster';
                line-height: 2.5rem;
                font-size: 2.5rem;
                font-weight: 400;
                width: 35rem;

            }

            width: 46vw;
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            flex-direction: column;
            height: 40rem;
            padding: 10rem 0rem;

            .b {
                border: none;
                background-color: #3EACDA;
                font-family: 'adam';
                color: #fff;
                width: 15rem;
                height: 4.7rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 0.3rem;
                border-radius: 0.7rem;
                font-size: 2rem;
                text-decoration: none

            }

            .b:hover{
                scale: 1.03;
                transition: 0.5s;

            }

        }



    }

    .faixa-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: 25rem;
        background-color: #171921;
        width: 100vw;

        .categorias {
            padding: 0rem 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 100vw;
        }

        h4 {
            font-weight: 100;
            font-size: 2rem;
            color: #41B6E6;
            font-family: 'adam';
            margin-left: 2.5rem;
        }


    }


    .destaque {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40rem;
        width: 100%;
        flex-direction: column;
        padding: 0rem 2rem;

        .meio {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
            height: 40rem;
            min-width: 52rem;
            max-width: 80rem;

            .infos {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                height: 35rem;
                width: 60%;

                .texts {
                    padding-left: 2rem;
                    height: 30rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    .avaliacao {
                        display: flex;
                        align-items: center;

                        p {
                            font-size: 1.5rem;
                        }

                        img {
                            width: 4.5rem;
                        }

                    }

                    .a {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 5rem;
                    }

                }

            }

        }



        h1 {
            font-size: 1.9rem;
            font-weight: 100;
            color: #41B6E6;
            font-family: 'adam';
        }

        h2 {
            font-weight: 100;
            font-size: 2rem;
            color: #fff;
            font-family: 'adam';
        }

        p {
            font-size: 1.5rem;
            color: #fff;
            font-family: 'adam';
        }

        ul {
            height: 6rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        li {
            margin-left: 1.7rem;
            font-size: 1.5rem;
            color: #fff;
            font-family: 'adam';
        }

        .fogo {
            border: none;
            width: 23rem;
            height: 27rem;
            border-radius: 1.6rem;
            margin-right: 1rem;
            background: linear-gradient(180deg, rgba(58, 108, 131, 0) 0%, rgba(58, 108, 131, 0.72) 100%);
            padding: 0rem;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            img {
                width: 100%;
                padding: 0;
            }
        }

    }

    .historia {
        height: 80rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;

        .centro {
            text-align: center;
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 9rem;

            h1 {
                font-size: 2.2rem;
                color: #41B6E6;
                font-family: 'adam';
                font-weight: 100;
            }

            p {
                line-height: 1.7rem;
                font-size: 1.6rem;
                color: #fff;
                font-family: 'adam';
            }
        }



        .b {
            display: flex;
            justify-content: space-around;
            height: 40rem;
            align-items: center;
            width: 100%;

            .esquerda {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
                width: 50%;
                justify-content: space-between;
                height: 35rem;

                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    height: 18rem;
                    width: 45rem;

                    .p2 {
                        width: 33rem;

                    }
                }

                .text2 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    height: 13rem;

                    .p1 {
                        width: 38rem;

                    }
                }

                h1 {
                    font-size: 2.2rem;
                    font-weight: 100;
                    color: #41B6E6;
                    font-family: 'adam';
                }

                p {
                    line-height: 1.7rem;
                    font-size: 1.5rem;
                    color: #fff;
                    font-family: 'adam';
                }

            }

        }

        

        .direita {
            background: linear-gradient(180deg, rgba(58, 108, 131, 0) 0%, rgba(58, 108, 131, 0.72) 100%);
            border-radius: 1.6rem;
            width: 26rem;
            height: 30rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            img {
                width: 22rem;
            }
        }

    }

    .profissionais {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        height: 70rem;

        .borda {
            border: #fff 1px solid;
            width: 30%;
            height: 13rem;
            border-radius: 2rem;

        }


        .prof {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }


        .profs1 {
            width: 100%;
            justify-content: space-evenly;
            display: flex;
        }

        .profs2 {
            width: 75%;
            display: flex;
            justify-content: space-evenly;
        }




        h1 {
            font-size: 3rem;
            color: #41B6E6;
            font-family: 'adam';
            text-align: center;
            font-weight: 100;
        }

        h3 {
            font-size: 2rem;
            color: #fff;
            font-weight: 100;
            font-family: 'adam';
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.5rem;
            color: #A5A5A5;
            font-family: 'adam';
        }

    }

    .rodape {
        background-color: #293040;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 25rem;
        width: 100%;
        padding: 1.5rem;

        h1 {
            font-size: 1.5rem;
            color: #fff;
            font-weight: 100;
            font-family: 'adam';
        }

        .patro {
            width: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 9em;

            img {
                width: 5rem !important;
            }
        }


        .logos {
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 25rem;
            align-items: center;
            justify-content: space-evenly;
            padding-bottom: 4rem;

            .logo {
                width: 13rem;
                margin-right: 4rem;
            }
        }

        .formas {
            height: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            width: 35%;

            h1 {
                text-align: left;
                width: 23rem;
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }

            .primeiro {
                display: flex;
                align-items: center;
                width: 23rem;
                justify-content: space-between;
            }

            .segundo {
                width: 23rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 1rem;

            }

            .terceiro {
                width: 23rem;
                padding-right: 3rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
        }

        .login {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 25rem;
            padding-bottom: 2rem;

            .contrate{
                display: flex;
                flex-direction: column;
                height: 5.5rem;
                justify-content: space-between;
            }

            button {
                background: #3EACDA;
                border-radius: 0.8rem;
                width: 9rem;
                height: 2.9rem;
                font-size: 1.8rem;
                color: #fff;
                font-family: 'adam';
                text-align: center;
                border: none;
                text-decoration: none;
                padding-bottom: 0.4rem;
            }

            button:hover{
                cursor: pointer;
                scale: 1.03;
                transition: 0.3s;
            }



            p {
                font-size: 1.7rem;
                color: #41B6E6;
                font-family: inter;
            }

            .twi{
                display: flex;
                align-items: center;
                height: 3rem;
            }


            .insta{
                margin-top: 1rem;
                display: flex;
                align-items: center;
                height: 3rem;
            }




            .email {
                display: flex;
                align-items: center;
                height: 3rem;

                img{
                    height: 2rem;
                }
            }
        }
    }




    @media(max-width: 1250px){
        

        .faixa-1{
            background-size: 130%;
            background-position: 50% 0%;

            .introdução{
                width: 40rem;

                h1{
                    width: 80% !important;
                    font-size: 2rem !important;
                }

                .b{
                    font-size: 1.7rem;
                    height: 4rem;
                    width: 12rem !important;
                }

            }
            
        }

        .historia{
            height: 80rem;
            // border: 1px green solid;
            padding: 0;

            .centro{
                width: 90%;
            }

            .b{
                height: 60rem !important;
                // max-height: 100rem;
                flex-direction: column;

                .esquerda{
                    width: 100% !important;
                    height: 24rem;

                    .text{
                        width: 90% !important;
                        height: 12rem;

                        .p2{
                        width: 100% !important;

                        }
                    }

                    .text2{
                        width: 90% !important;
                        height: 10rem;

                        .p1{
                        width: 100% !important;

                        }
                    }
                }

            }

        }

        .rodape{
            .login{

                .contrate{
                    height: 4.5rem;
                    h1{
                        font-size: 1.3rem;
                    }
    
                    button{
                        font-size: 1.5rem;
                        width: 5em;
                        height: 2.5rem;
                        border-radius: 0.5rem;
                    }
                }

               

                p{
                    font-size: 1.3rem;
                }
                
            }
        }


    }

    @media(max-width: 1050px){

        *{
            // border: 1px green solid;
            
        }

        .faixa-1{
            background-size: 180%;
            height: 30rem;

        }

        .destaque{
            height: 70rem;

            .meio{
                height: 53em;
                flex-direction: column !important;
            
                .infos{
                    align-items: center;
                    height: 25rem;
                    width: 90%;

                    h1{
                        font-size: 2.5rem;
                    }
                    p{
                        font-size: 2rem;
                    }

                    .text{
                        
                        width: 50% !important;
                        align-items: center !important;

                    }

                }
            }
        }
    
        .rodape{
            height: 50rem;

            flex-direction: column;
            .logos{
                flex-direction: row;
                width: 100%;
                height: 10rem;
                padding-bottom: 0;
                
                h1{
                    font-size: 1.7rem;
                }
            }

            .formas{
                width: 100%;
                height: 15rem;
                
                h1{
                    font-size: 1.7rem;
                }
                .responsive{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    align-items: center;
                    justify-content: space-evenly;

                    .terceiro{
                        width: 10rem;
                    }
                }
            }

            .login{
                width: 100%;
                height: 18rem;
                padding-bottom: 0;

                align-items: center;

                .contrate{

                    align-items: center;
                    height: 5rem;

                    h1{
                        font-size: 1.7rem;
                    }
                }

                .fale{
                    display: flex;
                    flex-direction: column;
                    align-items: center !important;
                    h1{
                        font-size: 1.7rem;
                    }

                    p{
                        font-size: 1.5rem;
                    }

                    img{
                        height: 3rem;
                    }

                    .email, .twi, .insta{
                        width: 21rem;
                    }

                    .email{
                        img{
                            height: 2.3rem;
                        }
                    }

                }
            }
        }
    
    }


    @media(max-width: 900px){

        .destaque{
            width: 100%;

            .meio{
                width: 100%;
                min-width: auto;
            }

            .infos{
                height: 25rem !important;

                .texts{
                    height: 20rem !important;
                }
            }

            h1{
                font-size: 2rem !important;
            }

            p{
                font-size: 1.5rem !important;


            }

            .avaliacao{
                 p{
                    padding-bottom: 0.5rem;
                    padding-left: 0.5rem;
                 }
            }
        }


        .historia{
            .centro{
                h1{
                    font-size: 2rem !important;
                }
                p{
                    font-size: 1.5rem !important;
                }
            }

            .b{
                height: 80rem !important;
            }

            .esquerda{
                height: 28rem !important;
                h1{
                    font-size: 2rem !important;
                }
                p{
                    font-size: 1.5rem !important;
                }
            }
        }

        

        .profissionais{
            height: 90rem;
            justify-content: center;

            h1{
                margin-bottom: 1.5rem;
                font-size: 2.5rem;
            }

            .profs1{
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
                height: 50rem;
                
                .prof{
                    img{
                    }
                }

            }

            .profs2{
                align-items: center;
                width: 100%;
                height: 25rem;
                flex-wrap: wrap;

                .prof{
                }
            }

        }



    }


    @media(max-width: 750px){
        *{
            // border: 1px green solid;
        }


        .profissionais{
            height: 160rem;
            .profs1{
                flex-direction: column !important;
                align-items: center;
                height: 95rem;
                flex-wrap: nowrap;
            }

            .profs2{
                padding-bottom: 3rem;
                height: 62em;
                align-items: center;
                justify-content: space-between;
                flex-direction: column !important;
                flex-wrap: nowrap;

            }

            .prof{
                width: auto;
                img{
                    width: 23rem !important;
                }


            }
        }

        .historia{  
            height: 100rem;
           
            .centro{
                h1{
                    font-size: 2rem !important;
                }

                p{
                    font-size: 1.4rem !important;
                }
            }

            .b{
                height: 80rem !important;  
            }


            .esquerda{

                .text{
                    height: 17rem !important;
                }

                .text2{
                    height: 14rem !important;
                }
                

                height: 35rem !important;
                h1{
                    font-size: 2rem !important;
                }

                p{
                    font-size: 1.4rem !important;
                }
            }
        }
        
    
    }


    @media(max-width:580px) {
        
        *{
            // border: 1px solid green;
        }

        .historia{  
            height: 100rem;
           
            .centro{
                h1{
                    font-size: 2rem !important;
                }

                p{
                    font-size: 1.4rem !important;
                }
            }

            .b{
                height: 80rem !important;  
            }


            .esquerda{
                height: 40rem !important;

                .text{
                    height: 19rem !important;
                }

                .text2{
                    height: 16rem !important;
                }
                

                h1{
                    font-size: 2rem !important;
                }

                p{
                    font-size: 1.4rem !important;
                }
            }
        }



    }


}