.Perfil-Profissional {

    .barra {
        background: #293040;
        width: 100vw;
        height: 6.5rem;

        .Logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 196px;
            height: 67px;
        }

    }




}