

.page-editar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 60rem;
    background-color: #293040;
    border: none;
    border-radius: 4rem;

    h1{
        text-transform: uppercase;
        font-size: 2rem;
        font-family: 'adam';
        color: #fff;
        font-weight: 100;
    }

    p{
        font-family: 'adam';
        color: #fff;
        display: flex;
        align-self: flex-start;
    }
    .text{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .a{
        background-color: #D9D9D9;
        color: #000;
        font-family: 'adam';
        width: 100%;
        height: 2rem;
        border-radius: 0.5rem;
        border: none;
        margin-top: 0.5rem;
        padding-left: 0.5rem;

    }

    .b{
        background-color: #D9D9D9;
        color: #000;
        font-family: 'adam';
        width: 100%;
        height: 7rem;
        border-radius: 0.5rem;
        border: none;
        margin-top: 0.5rem;
        resize: none;
        padding-left: 0.5rem;

    }

    .img{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        img{
            cursor: pointer;
            height: 6em;
        }
        input{
            visibility: hidden;
            display: none;

        }


        h4{
            font-family: inter;
            text-transform: uppercase;
            color: #fff;
            font-size: 1.5rem;
        }

    }

    button{
        width: 12rem;
        height: 3.5rem;
        padding-bottom: 0.4rem;
        background-color: #41b6e6;
        color: #fff;
        border-radius: 1rem;
        font-size: 1.7rem;
        text-align: center;
        font-family: 'adam';
        border: none;

        
    }



    button:hover{
        cursor: pointer;
        scale: 1.05;
        transition: 0.5s;

    }











}