@font-face {
    font-family: 'poppins';
    src: url('../../../../public/assets/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'adam';
    src: url('../../../../public/assets/fonts/ADAM.CG\ PRO.otf');
}


@font-face {
    font-family: 'League';
    src: url('../../../../public/assets/fonts/LeagueSpartan-Bold.otf');
}

.page-CadasProf {
    * {
        margin: 0;
        box-sizing: border-box;
    }

    @keyframes flutuacao {
        0%, 100%{
            transform: translateY(0px)
        }
        50%{
            transform: translateY(-60px)
        }
    }

    display: flex;
    background-image: url('../../../../public/assets/images/espaço.png');
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0rem 2rem;

    .cadastra {
        width: 100%;
        height: 48rem;
        background: rgba(40, 44, 59, 0.6);
        border-radius: 3rem 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 43rem;

        .a {
            width: 43% !important;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 35rem;
            gap: 0.6rem;

            label{
                align-self: flex-start;
                padding-left: 1rem;
            }


            input,
            select {
                width: 94%;
                height: 2rem;
                background: #D9D9D9;
                border-radius: 10rem;
                border: none;
                padding: 0rem 1rem;
                outline: none;
                font-family: 'poppins';
            }

        }

        .dois {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 38rem;

        }

        .telefone{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 35rem;
            gap: 0.6rem;

            label{
                align-self: flex-start;
                padding-left: 1rem;
            }


            input,
            select {
                width: 94%;
                height: 2rem;
                background: #D9D9D9;
                border-radius: 10rem;
                border: none;
                padding: 0rem 1rem;
                outline: none;
                font-family: 'adam';
        }
        }

        .tipo {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 25rem;

            .profissional {
                width: 9rem;
                height: 3rem;
                background: #41B6E6;
                border-radius: 1rem;
                border: none;
                color: white;
                font-weight: 700;
            }

            .cliente {
                width: 9rem;
                height: 3rem;
                background: #41b7e642;
                border-radius: 1rem;
                border: none;
                font-family: 'adam';
                color: #ffffff54;
                padding: 0rem 1rem;
                font-weight: 700;

            }

            .cliente:hover, .profissional:hover{
                cursor: pointer;
                scale: 1.1;
                transition: 0.3s;
            }

        }

        a {
            cursor: pointer;
            text-decoration: none;
            color: white;
            font-family: 'League';
        }

        h1 {
            font-family: 'adam';
            color: white;
            text-align: center;
        }

        .foi {
            width: 3.6rem;
            height: 3.6rem;
            background: #283153;
            border-radius: 1rem;
            cursor: pointer;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h2 {
            color: white;
            font-family: 'adam';
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2rem;
        }



        label {
            color: white;
            font-family: 'adam';
        }


        p {
            font-family: 'adam';
            color: white;
        }

        .informações {
            height: 5rem;
        }


    }

    .astronauta {


        .ola {
            width: 100%;
            height: 100%;
            max-width: 40rem;
            max-height: 40rem;
            animation: flutuacao 8s ease-in-out infinite;
        }

        h1 {
            font-family: 'adam';
            color: white;
            text-align: center;
        }

    }






}