.pag-props{
    font-family: 'adam';
    .bot-paypal{
        margin-top: 1em;
    }
    .pix-align{
        .text-pix{
            padding: 1em;
            margin-top: 1em;
            p{
                margin-top: 0.3em;
            }
        }
    }
    
}