
.Login-page{

    display: flex;
    background-image: url('../../../public/assets/images/espaço.png');
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .logar{
    width: 27rem;
    height: 44rem;
    background: rgba(40, 44, 59, 0.6);
    border-radius: 4rem 12rem;
    }

    .fazer{
    margin: 2rem;
    }

    .email, .senha{
        margin-top: 2rem;
    }
    
    .ola{
    width: 35rem;
    height: 45rem;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
    
    .entrar{
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .foi{
    width: 3.6rem;
    height: 3.6rem;
    background: #283153;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    }

    @font-face {
        font-family: 'adam';
        src: url('../../../public/assets/fonts/ADAM.CG\ PRO.otf');
    }

    h1{
    font-family:'adam';
    color: white;
    text-align: center;
    }

    h2{
    font-family: 'adam';
    color: white;
    text-align: center;
    }

    p{
    font-family: 'adam';
    color: white;
    font-style: normal;
    font-weight: 4rem;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    }
    
    input{
    width: 22rem;
    height: 3.5rem;
    background: #D9D9D9;
    border-radius: 4rem;
    }   

    .informações{
        margin-top: 2rem;
    }

    .cadastra{
        cursor: pointer;
        padding-top: 1rem;
    }

    .esqueci{
        cursor: pointer;
        margin-top: 8rem;
    }

}