.servicos {
    background-color: #171921;

    .barra {
        background-color: #293040;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 2rem;

        .ativos {
            display: flex;
            align-items: center;
            text-align: center;
            font-family: 'adam';
            color: #41B6E6;
        }

        .volta {
            display: flex;
            align-items: center;
            color: #fff;
            font-family: 'adam';
        }

    }

    .informacoes {
        background: linear-gradient(180deg, rgba(58, 108, 131, 0) 0%, #3A6C83 35.94%, #3A6C83 42.19%);
        border-radius: 1rem;
    }
}